
.Header{
    position: relative; 
    font-size: 20px; 
    width: 90vw;
    /*padding-left: -17.5vw;*/
    /*left: -17.5vw;*/
    background: white; 
    text-align: left; 
    /*font-family: "courier new";*/
}
.Content {
    /*width: 65vw; */
    margin: auto;
    margin-bottom: 10vh; 
    margin-top: -18px; 
    
}
.Gallery{
    margin-top: 30px; 
}
.Project{
    max-width: 650px;
    margin: auto;
    margin-top: 30px; 
    font-size: 18px; 
    vertical-align: top; 
    text-align: center;
    /*text-align: left;*/
    /*font-family: "Courier Prime";*/
    line-height: 25px;
}
.Project p{
    text-align:left;
}
.Box img {
    width: 300px; 
    max-width: 100%; 
    height: 300px; 
    position: absolute; 
    object-fit: cover;
    z-index: 1; 
    display: block; 
}
.Box {
    display: inline-block; 
    position: relative; 
    width: 320px; 
    max-width: 100%; 
    height: 320px; 
    margin: 0; 
}
.Overlay{
    background: rgba(0, 0, 0, 0); 
    width: 300px; 
    max-width: 100%; 
    height: 300px; 
    position: absolute; 
    margin: auto;
    z-index: 2; 
    text-align: center; 
    transition: .3s; 
    opacity: 0; 
    line-height: 300px; 
    text-transform: uppercase; 
}

.Overlay:hover{
    background: rgba(0, 0, 0, .8); 
    transition: .3s; 
    opacity: 1;
    color: white; 
}

#nothing{
    display: none; 
}

.Project img {
    margin: 10px; 
    text-align: center;
}
.Project h {
    text-align: center;
}

h{
    font-size: 35px; 
    display: block;
    margin: 10px; 
}

#name{
    font-size: 50px; 
    padding: 10px; 
    padding-top: 20px; 
}
#buttons{
    width: 90vw; 
    text-align: left; 
    left: 0; 
    right: 0; 
    display: inline-block; 
}

.button{
    font-size: 30px; 
    /*background: black; */
    border: none; 
    margin-left: 15px; 
    margin-right: 15px; 
    margin-bottom: 15px; 
    display: inline-block; 
    /*text-transform: uppercase;*/
    text-decoration: none; 
    /*color:  orange;*/
    font-weight: normal; 

}
.button:hover{
    cursor:pointer;
    text-decoration: underline;
}

.active {
    /* text-decoration: underline;  */
}

.smallImg{
    width: 300px; 
    max-width: 100%; 
}
.smallishImg{
    width: 400px;
    max-width: 100%;
    text-align: center !important;
    margin: auto !important;
}
.medImg{
    width: 600px; 
    max-width: 100%; 
}

a, a:visited{
    text-decoration:none; 
    /*font-weight: bold; */
    /*color: rgb(85, 64, 64);*/
    color: rgb(219, 113, 37);
}
a:hover{
    text-decoration:underline;
}

.col{
    max-width: 350px;
    display: inline-block;
    margin: 10px;
    vertical-align: top; 
  }

iframe{
    margin: 10px; 
}
#frontpage img{
    vertical-align: middle; 
  
}

.code{
    width: 48%; 
    display: inline-block; 
    vertical-align: top;
    margin-top: 40px; 
    max-height: 450px; 
    overflow-y: scroll; 
}

.explanation{
    width: 48%; 
    padding: 1%; 
    display: inline-block; 
    vertical-align: top;
    margin-top: 40px; 
}

.invisble{  
    color: green; 
}

.youtube{
    width: 900px; 
    max-width: 100%; 
    height: 500px;
}

.smallVideo{
    width: 500px; 
    max-width: 100%; 
    height: 300px;
}

.instagram-media {
    text-align: center;
    margin: auto !important;
}